h2 {
    text-transform: uppercase;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
  }

  .dialog-body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  .img-div{
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  img {
    height: 400px;
    width: 500px;
    margin: 20px;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  
  .vehicle-initial-content {
    display: flex;
    color: white;
  }
  
  .vehicle-initial-content div {
    margin: 10px;
    color: white;
  }
  
  .descriptor {
    font-weight: bold;
  }

  .dialog {
    width: 1000px;
    border-radius: 50px;
  }
  
  h3{
    
    font-weight: bold;
    font-size: 50px;
  }
  button {
    background-color: #ff6a3d;
    color: white;
    transition: 0.4s ease-in-out;
  }
  
  button:hover {
    background-color: teal;
    cursor: grabbing;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  