<body class="dialog-body">
<h2 mat-dialog-title>Vehicle Details</h2>

<mat-dialog-content class="dialog">

  <h3>{{vehicle.make}} {{vehicle.title}} {{vehicle.model}} - {{vehicle.year}}</h3>
  <div class="img-div">
    
  
  <img mat-card-image src="{{vehicle.img_path}}">
</div>
  <mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile> Price : Rs. {{vehicle.price}}</mat-grid-tile>
    <mat-grid-tile> Location : {{vehicle.location}}</mat-grid-tile>
    <mat-grid-tile> Model : {{vehicle.model}}</mat-grid-tile>

    <mat-grid-tile> Date : {{vehicle.date}}</mat-grid-tile>
    <mat-grid-tile> Rating : {{vehicle.rating}}/5</mat-grid-tile>
    <mat-grid-tile> Mileage : {{vehicle.mileage}}</mat-grid-tile>

    <mat-grid-tile> Colour : {{vehicle.color}}</mat-grid-tile>
    <mat-grid-tile> Transmission : {{vehicle.transmission}}</mat-grid-tile>
    <mat-grid-tile> Registered in : {{vehicle.registered}}</mat-grid-tile>

    <mat-grid-tile> Assembly : {{vehicle.assembly}}</mat-grid-tile>
    <mat-grid-tile> Engine Capacity : {{vehicle.engine_capacity}}</mat-grid-tile>
    <mat-grid-tile> Last Updated : {{vehicle.last_updated}}</mat-grid-tile>
  </mat-grid-list>

  <hr><br>

  <div class="features">
     Features : {{vehicle.features}}
  </div>

  <br>

  <div>
     Overall Condition : {{vehicle.condition}}
  </div>

  <br><hr><br>

  <h3><b>Seller Information</b></h3>

  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile> Contact No : {{vehicle.seller_number}}</mat-grid-tile>
    <mat-grid-tile> Email : {{vehicle.seller_email}}</mat-grid-tile>
    <mat-grid-tile> Location : {{vehicle.seller_location}}</mat-grid-tile>
    <mat-grid-tile> Contact Hours : {{vehicle.seller_hours}}</mat-grid-tile>
  </mat-grid-list>

  <hr><br>

  <p> Comments on vehicle : {{vehicle.seller_comments}}</p>

</mat-dialog-content>

<mat-dialog-actions align="center" >
  <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>

</body>